<div class="w-full h-80">
    <app-module-banner 
        title="CONTACT US"
        heading="LET’S STAY IN TOUCH!">
    </app-module-banner>
</div>

<div class="flex py-20">
    <div class="pl-2.5 w-3/5 grid grid-cols-1 gap-2">
        <app-send-us-message></app-send-us-message>
    </div>
    <div class="grid grid-cols-1 gap-12 pl-14 w-2/5 h-1/2 float-right">
        <app-contact-information></app-contact-information>
    </div>
</div>

<div class="pb-20 mx-48">
    <app-address-geo-map></app-address-geo-map>
</div>