<div class="w-full">
    <div>
        <h1 class="uppercase font-bold text-xl text-gray-800">categories</h1>
        <div class="mt-4 mb-6 border-b border-gray-200 "></div>
    </div>
    <div class="leading-10 text-gray-800 font-bold tracking-tight">
        <app-categories-item list="-Nature Lifestyle"></app-categories-item>
        <app-categories-item list="-Awesome Layouts"></app-categories-item>
        <app-categories-item list="-Creative Ideas"></app-categories-item>
        <app-categories-item list="-Responsive Templates"></app-categories-item>
        <app-categories-item list="-HTML5/CSS3 Templates"></app-categories-item>
        <app-categories-item list="-Creative & Unique"></app-categories-item>    
    </div>
</div>