<div class="w-full h-80">
    <app-module-banner 
        title="RECENT POSTS"
        heading="OUR RECENT BLOG ENTRIES">
    </app-module-banner>
</div>

<div class="my-6"><app-template-banner></app-template-banner></div>

<div class="flex py-20">
    <div class="pl-2.5 w-3/5 grid grid-cols-1 gap-8">
            <div  class="w-post">
                <app-post *ngFor="let item of data"
                    image="./assets/blog-thumb-01.jpg">
                        <h1>{{item.title}}</h1>
                        <h2>{{item.subTitle}}</h2>
                        <h3>{{item.author}}</h3>
                        <h4>{{item.publishedDate}}</h4>
                        <h5>{{item.comment}} Comments</h5>
                        <p>{{item.content}}</p>
                        <div class="flex justify-start">
                            <div class="flex">
                                <i class="fa fa-tags pt-1 text-orange-400"></i>
                                <div class="font-medium text-sm text-gray-400">      
                                    <a href="#" class="hover:text-orange-400 ml-2">{{item.tags[0]}}</a><span>, </span><a href="#" class="hover:text-orange-400">{{item.tags[1]}}</a>
                                </div>
                            </div>
                        </div>
                </app-post>
            </div>

        <div><app-page-number></app-page-number></div>

    </div>

    <div class="grid grid-cols-1 gap-12 pl-14 w-2/5 h-1/2 float-right">
        <div><app-post-search></app-post-search></div>
        <div><app-recent-post></app-recent-post></div>
        <div><app-categories></app-categories></div>
        <div><app-tag-clouds></app-tag-clouds></div>
    </div>
</div>