<div class="float-right border border-gray-200">
    <ng-content select=".image"></ng-content>
    <div class="m-8">
        <h2 class="uppercase text-orange-400 font-bold text-xl "><ng-content select="h1"></ng-content></h2>
        <div class="font-bold text-xl text-gray-800 leading-10"><a href="#"><ng-content select="h2"></ng-content></a></div>
        <div class="font-medium text-sm text-gray-400 flex gap-2"><a href="#" class="hover:text-orange-400"><ng-content select="h3"></ng-content></a> | <a href="#" class="hover:text-orange-400"><ng-content select="h4"></ng-content></a> | <a href="#" class="hover:text-orange-400"><ng-content select="h5"></ng-content></a></div>
        <div class="my-8 border-b border-gray-200 "></div>
        <p class="font-normal text-gray-500 leading-7"><ng-content select="p"></ng-content></p>
        <div class="my-8 border-b border-gray-200 "></div>
        
        <ng-content></ng-content>
        <ng-content></ng-content>
        <ng-content></ng-content>
        <ng-content></ng-content>

        <div class="mt-6 flex justify-center"><button (click)="deletePost(indexElement)" class="flex justify-center rounded-none bg-orange-400 h-10 w-32 hover:bg-orange-300">
            <h1 class="py-2 text-white font-semibold text-medium">Delete Post</h1>
        </button></div>
    </div>
</div>