<div class="bg-gray-100 w-full h-24 uppercase">
    <span class="float-left m-2 ml-48 font-bold text-2xl"><a routerLink="/home">Stand Blog<span class="text-5xl text-orange-500">.</span></a></span>
    <ul class="float-right flex m-8 mr-60 font-bold">
        <li class="pr-12 "><a routerLink="/home" class="text-orange-500">Home</a></li>
        <li class="pr-12 hover:text-orange-500"><a routerLink="/aboutus">About us</a></li>
        <li class="pr-12 hover:text-orange-500"><a routerLink="/blogentries">Blog Entries</a></li>
        <li class="pr-12 hover:text-orange-500"><a routerLink="/postdetails">Post Details</a></li>
        <li class="pr-4 hover:text-orange-500"><a routerLink="/contactus">Contact us</a></li>
    </ul>
</div>
<router-outlet></router-outlet>