<div class="w-full">
    <div>
        <h1 class="uppercase font-bold text-xl text-gray-800">tag clouds</h1>
        <div class="mt-4 mb-6 border-b border-gray-200 "></div>
    </div>
    <div>
    <ul>
        <li class="mb-3"><app-tag-clouds-item name="Lifestyle"></app-tag-clouds-item>
        <app-tag-clouds-item name="Creative"></app-tag-clouds-item>
        <app-tag-clouds-item name="HTML5"></app-tag-clouds-item></li>
        <li class="mb-3"><app-tag-clouds-item name="Inspiration"></app-tag-clouds-item>
        <app-tag-clouds-item name="Motivation"></app-tag-clouds-item>
        <app-tag-clouds-item name="PSD"></app-tag-clouds-item></li>
        <li><app-tag-clouds-item name="Responsive"></app-tag-clouds-item></li>
    </ul>
    </div>
</div>