<div class="w-full h-80">
    <app-module-banner 
        title="ABOUT US"
        heading="MORE ABOUT US!">
    </app-module-banner>
</div>
<div class="flex justify-center">
    <div class="mt-20 w-3/4 grid grid-cols-1 gap-10">
        <div><img src="./assets/about-us.jpg"></div>
        <div class="text-gray-500 text-center"><p>Please tell your friends about TemplateMo website. Thank you. You can browse through different categories of templates such as <a href="#" class="text-business hover:text-blue-700">business</a>, <a href="#" class="text-business hover:text-blue-700">portfolio</a>, <a href="#" class="text-business hover:text-blue-700">restaurant</a>, etc. Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis. Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet.</p></div>
        <div class="text-gray-500 text-center"><p>Maecenas faucibus ullamcorper felis vitae finibus. Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p></div>
        <div class="border-b border-gray-200 "></div>
        <div class="grid grid-cols-2 gap-8">
            <app-brief-description
                heading="Two-One Donec porttitor augue"
                text="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.">
            </app-brief-description>
            <app-brief-description
                heading="Two-Two Donec porttitor augue"
                text="Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
        </div>
        <div class="grid grid-cols-3 gap-8">
            <app-brief-description
                heading="1-03 Donec porttitor augue"
                text="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.">
            </app-brief-description>
            <app-brief-description
                heading="2-03 Donec porttitor augue"
                text="Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
            <app-brief-description
                heading="3-03 Donec porttitor augue"
                text="Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
        </div>
        <div class="grid grid-cols-4 gap-8">
            <app-brief-description
                heading="01 Four Columns"
                text="Mauris at ex ipsum. Aenean condimentum urna nisl, interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.">
            </app-brief-description>
            <app-brief-description
                heading="02 Four Columns"
                text="Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
            <app-brief-description
                heading="03 Four Columns"
                text="Morbi ac interdum metus. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
            <app-brief-description
                heading="04 Four Columns"
                text="Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna vel tellus semper interdum et id sapien.">
            </app-brief-description>
        </div>
        <div class="-m-10 mb-20 flex justify-center gap-3 text-white">
            <a href="#" class="text-center w-10 h-10 rounded-full bg-footer hover:bg-orange-400"><i class="fa fa-facebook mt-3"></i></a>
            <a href="#" class="text-center w-10 h-10 rounded-full bg-footer hover:bg-orange-400"><i class="fa fa-twitter mt-3"></i></a>
            <a href="#" class="text-center w-10 h-10 rounded-full bg-footer hover:bg-orange-400"><i class="fa fa-behance mt-3"></i></a>
            <a href="#" class="text-center w-10 h-10 rounded-full bg-footer hover:bg-orange-400"><i class="fa fa-linkedin mt-3"></i></a>
        </div>
    </div>
</div>