<div class="mt-6 w-full float-right">
    <h2 class="font-bold text-xl text-gray-800 uppercase">4 comments</h2>
    <div class="my-4 border-b border-gray-200 "></div>
    <app-comments-item
        image="./assets/comment-author-01.jpg"
        name="Charles Kate"
        date="May 16,2020"
        comment="Fusce ornare mollis eros. Duis et diam vitae justo fringilla condimentum eu quis leo. Vestibulum id turpis porttitor sapien facilisis scelerisque. Curabitur a nisl eu lacus convallis eleifend posuere id tellus.">
    </app-comments-item>
    <div class="my-4 border-b border-gray-200 "></div>
    <div class="ml-32"><app-comments-item
        image="./assets/comment-author-02.jpg"
        name="Thirteen Man"
        date="May 20,2020"
        comment="In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar vel mattis eget.">
    </app-comments-item></div>
    <div class="my-4 border-b border-gray-200 "></div>
    <app-comments-item
        image="./assets/comment-author-03.jpg"
        name="Belisimo Mama"
        date="May 16,2020"
        comment="Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt in, ultrices eget ligula. Sed vitae suscipit ligula. Vestibulum id turpis volutpat, lobortis turpis ac, molestie nibh.">
    </app-comments-item>
    <div class="my-4 border-b border-gray-200 "></div>
    <div class="ml-32"><app-comments-item
        image="./assets/comment-author-02.jpg"
        name="Thirteen Man"
        date="May 22,2020"
        comment="Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo.">
    </app-comments-item></div>
</div>