<div class="w-2/3">
    <div>
        <h1 class="uppercase font-bold text-xl text-gray-800">contact information</h1>
        <div class="mt-4 mb-6 border-b border-gray-200 "></div>
    </div>
    <div>
        <ul>
            <li class="font-bold text-xl text-gray-800">090-484-8080</li>   
            <li class="font-medium text-sm text-gray-400 pt-3">PHONE NUMBER</li>
            <div class="my-4 border-b border-gray-200 "></div>
            <li class="font-bold text-xl text-gray-800">info@company.com</li>
            <li class="font-medium text-sm text-gray-400 pt-3">EMAIL ADDRESS</li>
            <div class="my-4 border-b border-gray-200 "></div>
            <li class="font-bold text-xl text-gray-800">123 Aenean id posuere dui,<br>
                Praesent laoreet 10660</li>
            <li class="font-medium text-sm text-gray-400 pt-3">STREET ADDRESS</li>    
        </ul>      
    </div>
</div>