<div class="w-full h-72 bg-footer flex justify-center">
    <div class="w-2/3">
        <div class="pt-16 text-white text-sm flex justify-center space-x-8 font-semibold">
            <a href="#" class="hover:text-orange-400">FACEBOOK</a>
            <span>|</span>
            <a href="#" class="hover:text-orange-400">TWITTER</a>
            <span>|</span>
            <a href="#" class="hover:text-orange-400">BEHANCE</a>
            <span>|</span>
            <a href="#" class="hover:text-orange-400">LINKEDIN</a>
            <span>|</span>
            <a href="#" class="hover:text-orange-400">DRIBBLE</a>
        </div>
        <div class="w-full my-14 border-b border-gray-600 "></div>
        <div class="text-white flex justify-center text-xs font-medium"><p>COPYRIGHT 2020 STAND BLOG CO. | DESIGN: <a href="#" class="text-orange-400">TEMPLATEMO</a></p></div>
    </div>
</div>