<div class="w-4/5 float-right">
    <h2 class="font-bold text-xl text-gray-800 uppercase">send us a message</h2>
    <div class="my-4 border-b border-gray-200 "></div>

    <div class="grid grid-cols-1 gap-8">
        <div class="flex gap-8">
            <div class="w-1/2 h-12 border border-gray-200">
                <input type="text" placeholder="your name" class="outline-none w-full h-full px-4 uppercase text-sm font-semibold">
            </div>
            <div class="w-1/2 h-12 border border-gray-200">
                <input type="text" placeholder="your email" class="outline-none w-full h-full px-4 uppercase text-sm font-semibold">
            </div>
        </div>
        <div>
            <div class="w-full h-12 border border-gray-200">
                <input type="text" placeholder="subject" class="outline-none w-full h-full px-4 uppercase text-sm font-semibold">
            </div>
        </div>
        <div>
            <div class="w-full h-48 border border-gray-200">
                <textarea name="message" rows="6" id="message" placeholder="your message" required class="outline-none w-full h-full px-4 pt-4 uppercase text-sm font-semibold"></textarea>
            </div>
        </div>
        <div>
            <a href="#" class="mr-3">
                <button class="py-2 px-4 font-semibold bg-orange-400 border border-orange-400 text-white hover:bg-orange-300 hover:border-transparent">SEND MESSAGE</button>
            </a>
        </div>
    </div>
</div>