<div class="w-2/3">
    <div>
        <h1 class="uppercase font-bold text-xl text-gray-800">recent posts</h1>
        <div class="mt-4 mb-6 border-b border-gray-200 "></div>
    </div>
    <div>
        <ul>
            <li>
                <app-recent-post-item title="Vestibulum id turpis porttitor sapien facilisis scelerisque" date="May31, 2020"></app-recent-post-item>
                <div class="my-4 border-b border-gray-200 "></div>
            </li>
            <li>
                <app-recent-post-item title="Suspendisse et metus nec libero ultrices varius eget in risus" date="May 28,2020"></app-recent-post-item>
                <div class="my-4 border-b border-gray-200 "></div>
            </li>
            <li>
                <app-recent-post-item title="Swag hella echo park leggings, shaman cornhole ethical coloring" date="May 14,2020"></app-recent-post-item>
            </li>
        </ul>      
    </div>
</div>